.DS_Store
.idea/
.vscode/

# Inkscape metadata for SVG files
**/svg-inkscape/*
**/*-SAVE-ERROR

# python cache
**/__pycache__/

# LaTeX temporary files
*.aux
*.bbl
*.blg
*.log
*.out
*.nav
*.snm
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.run.xml
*.bcf
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.idx
*.ind
*.ilg
*.loa
*.dvi
*.brf
*.nlo
*.nls
*.synctex(busy)
*.synctex.gz(busy)